<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successfully </title>
</head>

<body>

    Dear <%= order.userName%>

        Your purcharse the <%=order.courseName%>
            with that price <%=order.price%>

</body>

</html>